{% extends "base.html" %}
{% block title %}Transfer Funds{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-header">
                        <h2>Transfer funds</h2>
                    </div>
                    <div class="card-body">
                        <form method="post">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <div class="d-flex flex-row-reverse">
                                <button type="submit" class="btn btn-primary">Transfer</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
            $('#id_sender').select2();
            $('#id_recipient').select2();
        })
    </script>
{% endblock %}

